@font-face{
	font-family:'NanumGothic';
	src: url('../fonts/NanumGothic.eot');
	src: url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumGothic.woff') format('woff'),
         url('../fonts/NanumGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}
body{
	font-family: '³ª´®°íµñ', 'NanumGothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	font-size: 11px;
	line-height: 1.4em;
	background: #3c435a;
	margin: 0;
	min-width: 0;
	background-image: url(../images/background.png);
	background-repeat: repeat;
	background-position: 0 0;
}
::selection{
	background: #3c435a;
	color: #fff;
	text-shadow: none;
}
#wrap {
	padding: 7px;
}
body #wrap{
	position: relative;
	padding-left: 127px;
	width: 866px;
	height: 686px;
}
div{
	display: block;
}
header {
	display: block;
	position: absolute;
	left: 7px;
	top: 7px;
	width: 120px;
	height: 686px;
	background-image: url(../images/search_address.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
header a {
	display: block;
	height: 120px;
	background-image: url(../images/nav.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto auto;
	margin-bottom: 2px; 
}
header a.eq0 {
	background-position: 0% 0%;
}
header a.eq0.on {
	background-position: 100% 0%;
}
header a.eq1 {
	background-position: 0% 100%;
}
header a.eq1.on {
	background-position: 100% 100%;
}
body #container {
	padding: 50px 60px 37px;
	height: 588px;
	background-color: #edefef;
}
label {
	padding-left: 10px;
}
.close {
	position: absolute;
	right: 7px;
	top: 7px;
	display: inline-block;
	width: 52px;
	height: 54px;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto auto; 
}
.search-address > * {
	font-size: 14px;
}
.search-address select {
	padding: 0 34px 0 8px;
	height: 40px;
	color: #444;
}
.search-address input[type=text] {
	height: 34px;
	line-height: 18px;
}
.search-address button.search{
	position: relative;
	top: 3px;
	width: 42px;
	height: 42px;
	background-color: #fff;
}
.warning {
	color:yellow;
}
.danger {
	color: red;
}
.info {
	color: aqua;
}
.desc {
	color: gray;
}
div.title {
	margin: 25px 0 7px;
	font-size: 12px;
	font-weight: normal;
	color: #333;
}
.border {
	border: 1px solid #d6d6d6;
	background-color: #f5f5f5;
	padding: 5px 13px;
}
.msg {
	margin: 3px;
	background-image: url(../images/message.png);
	background-repeat: no-repeat;
	background-position: 20px 7px;
	background-size: auto auto;
	padding: 7px 20px 7px 74px;
	font-size: 12px;
	line-height: 18px; 
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}
.refineSearch {
	padding: 0;
	font-size: 12px;
	line-height: 23px;
	color: #444;
	overflow-y: auto;
	height: 92px; 
}
li.odd{
	background-color: #eaecec;
}
.option{
	display: inline-block;
	width: 120px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
}
div.box-right {
	margin: 12px 0;
	text-align: right;
}
.blue-btn{
	background-color: #3c435a;
	color: #fff;
}