@font-face{
	font-family:'NanumGothic';
	src: url('../fonts/NanumGothic.eot');
	src: url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NanumGothic.woff') format('woff'),
         url('../fonts/NanumGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}
body{
	font-family: '³ª´®°íµñ', 'NanumGothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	font-size: 11px;
	line-height: 1.4em;
	background: #3c435a;
	margin: 0;
	min-width: 0;
	background-image: url(../images/background.png);
	background-repeat: repeat;
	background-position: 0 0;
}
::selection{
	background: #3c435a;
	color: #fff;
	text-shadow: none;
}
#wrap {
	padding: 7px;
}
body #wrap{
	position: relative;
	padding-left: 127px;
	width: 866px;
	height: 686px;
}
div{
	display: block;
}
header {
	display: block;
	position: absolute;
	left: 7px;
	top: 7px;
	width: 120px;
	height: 686px;
	background-image: url(../images/searchAddress.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
header a {
	display: block;
	height: 120px;
	background-image: url(../images/nav.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto auto; 
}
header a.eq0 {
	background-position: 0% 0%;
}
header a.eq0.on {
	background-position: 100% 0%;
}
header a.eq1 {
	background-position: 0% 100%;
}
header a.eq1.on {
	background-position: 100% 100%;
}
body #container {
	padding: 61px 63px 37px;
	height: 588px;
	background-color: #edefef;
}
label {
	padding-left: 10px;
}
.close {
	position: absolute;
	right: 7px;
	top: 7px;
	display: inline-block;
	width: 52px;
	height: 54px;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto auto; 
}
.search-address > * {
	font-size: 14px;
}
.search-address select {
	padding: 0 34px 0 8px;
	height: 52px;
	line-height: 50px;
	color: #444;
}
.search-address input[type=text] {
	height: 46px;
	line-height: 18px;
}
.search-address a > img {
	position: relative;
	top: 21px;
	width: 50px;
	height: 51px;
	color: #000; 
}
.search-address a > img {
	border: 1px solid #b9b9b9;
}
.warning {
	color:yellow;
}
.danger {
	color: red;
}
.info {
	color: aqua;
}